.cabecalho {
    display: flex;
    align-items: center;
    background-color: var(--cor-primaria);
    justify-content: space-between;
    padding: 5%;
    position: relative;
    width: 92%;
}

.cabecalho__container__esq {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__container__dir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.cabecalho__imagem__menu {
    background-image: url(../assets/Menu.svg);
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu {
    display: none;
    position: absolute;
    right: 30%;
    top: 100%;
    background-color: var(--cor-primaria);
    width: 70%;
}

.lista-menu__titulo {
    padding: 5% 10%;
    font-weight: bold;
    font-size: 1rem;
    color: var(--cor-quartenaria);
}

.lista-menu__item {
    padding: 5% 10%;
    font-size: 1rem;
}

.lista-menu__link {
    text-decoration: none;
    font-weight: 400;
    background: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cabecalho__container__meio {
    display: none;
}

.cabecalho__meio__texto {
    display: none;
}

.categorias__botao {
    display: none;
}

.cabecalho__meio__categorias {
    font: auto;
}

.cabecalho__titulo {
    display: none;
    font-size: 1.8rem;
    font-weight: 400;
}

.titulo-negrito {
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 2% 8% 2% 6%;
        width: auto;
    }

    .cabecalho__titulo {
        display: block;
    }

    .cabecalho__imagem__menu {
        display: none;
    }
    
    .cabecalho__container__meio {
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding-left: 2%;
    }

    .cabecalho__meio__texto {
        display: block;
        font-size: 1rem;
        text-decoration: none;
        color: var(--cor-terciaria);
    }

    .cabecalho__imagem__favoritos {
        display: none;
    }

    .cabecalho__container__esq {
        width: min-content;
        gap: 16px;
    }

    .cabecalho__container__dir {
        width: 20%;
    }

    .icone__nome {
        display: none;   
    }

    .categorias__botao:checked ~ .lista-menu {
        display: block;
    }

    .lista-menu {
        width: auto;
        right: auto;
        top: 98%;
    }
    
    .lista-menu__item {
        padding: 8% 10%;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 1% 4% 1% 4%;
        width: auto;
        justify-content: left;
    }

    .cabecalho__container__meio {
        padding-left: 5%;
        width: 25%;
    }

    .cabecalho__container__dir {
        padding-left: 30%;
    }

    .cabecalho__icone {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
    }

    .icone__nome {
        display: block;
        color: var(--cor-terciaria);
        font-weight: 600;
    }
}
