.recentes {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--gradiente);
    color: var(--cor-primaria);
}

.recentes__titulo {
    font-size: 1rem;
    font-weight: 400;
    padding: 10% 5% 3% 5%;
}

.recentes__lista {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    padding: 5% 5% 15% 5%;
    justify-content: center;
}

.recentes__lista__item {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--cor-primaria);
    font-weight: 700;
}

.item__lista {
    height: min-content;
    padding: 5%;
    margin: 2%;
    border-radius: 8px;
    background-color: var(--cor-quartenaria);
}

@media screen and (min-width: 1024px) {
    .recentes__titulo {
        font-size: 1.5rem;
        padding: 4%;
    }

    .recentes__lista {
        padding: 0 0 2% 0;
        width: auto;
    }

    .recentes__lista__item {
        font-size: 1.5rem
    }

    .item__lista {
        padding: 3%;
        margin: 1%;
        border-radius: 8px;
    }
}